body {
	font-family: 'Alegreya', serif;
	max-width: 70em;
}
div {
	padding: 1em;
	min-width: 0;
}
nav {
	font-size: 18px;
	float: right;
}
nav a {
	text-decoration: none;
	color: #f37e8c;
	margin: 1em;
	margin-top: 1em;
	display: inline-block;
}
section {
	overflow: auto;
	min-width: 0;
	margin: 20%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0em;
}
h3 {
	font-weight: 800;
	text-transform: lowercase;
	font-size: 24px;
	padding: 0em 0;
	color: #60b8c8;
	text-align: left;
	display: inline-block;
	margin-top: 6em;
	margin-left: -4.6em;
}
h4 {
	font-weight: 400;
	font-style: italic;
	text-transform: lowercase;
	font-size: 22px;
	padding: 0;
	color: #f37e8c;
	text-align: left;
	margin-top: 1em;
}
h5 {
	font-weight: 800;
	text-transform: lowercase;
	text-align: center;
	font-size: 20px;
	color: #494444;
}
h6 {
	font-weight: 400;
	font-size: 18px;
	font-style: italic;
	color: #494444;
	text-align: center;
}
footer {
	text-align: center;
	padding: 18px 0;
	margin-top: 1em;
	clear: both;
}
a {
	text-decoration: none;
	color: #f37e8c;
	margin-bottom: 1em;
}
img {
	display: block;
	margin: 0 auto;
	clear: both;
}
section {
	margin-left: auto;
	margin-top: 0;
	display: block;
	clear: both;
}
p {
	font-family: 'Alegreya', serif;
	font-size: 16px;
	color: #494444;
	text-align: left;
	margin-top: 1em;
}
#logo {
	float: left;
	width: 10px;
}
.wrapper {
	display: inline-block;
	margin-left: auto;
}
#joyful {
	display: inline-block;
	float: right;
}
#author {
	float: left;
	margin-left: 15%;
}
#about {
	float: left;
	margin-top: 10em;
	margin-left: 4em;
	display: block;
}
