body {
	font-family: 'Alegreya', serif;
}
div {
	padding: 30px;
	min-width: 0;
}
nav {
	font-size: 18px;
	float: right;
	margin-top: -5%;
}
nav a {
	text-decoration: none;
	color: #f37e8c;
	margin: 20px;
	margin-top: 50px;
	display: inline-block;
}
h3 {
	font-weight: 600;
	text-transform: lowercase;
	font-size: 24px;
	color: #60b8c8;
	margin-left: 16%;
	margin-bottom: -2%;
	margin-top: 10%;
}
hr {
	margin-top: 10%;
	width: 100%;
}
h4 {
	font-weight: 400;
	font-style: italic;
	text-transform: lowercase;
	font-size: 22px;
	padding: 0;
	color: #f37e8c;
	text-align: left;
	margin-left: 8%;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}
img {
	margin-left: 5%;
	display: inline-block;
	float: left;
	margin-bottom: 5%;
}
section {
	padding-top: 5%;
	margin-bottom: 0px;
}
h5 {
	font-weight: 800;
	font-style: italic;
	text-transform: lowercase;
	font-size: 18px;
	color: #494444;
	display: inline-block;
	margin-left: 10%;
	margin-top: 0px;
	padding-right: 1%;
}
footer {
	text-align: center;
	padding: 18px 0;
	margin-top: 40px;
	clear: both;
}
a {
	text-decoration: none;
	color: #f37e8c;
}
#recipes {
	margin-left: 7%;
}
.wrapper{

}
