body {
	font-family: 'Alegreya', serif;
	max-width: 70em;
}
div {
	padding: 1em;
	min-width: 0;
}
nav {
	font-size: 18px;
	float: right;
}
nav a {
	text-decoration: none;
	color: #f37e8c;
	margin: 1em;
	margin-top: 1em;
	display: inline-block;
}
section {
	overflow: auto;
	min-width: 0;
	margin: 20%;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0em;
}
h3 {
	font-weight: 400;
	text-transform: lowercase;
	display: inline-block;
	font-size: 20px;
	padding: 0em 0;
	color: #60b8c8;
}
footer {
	text-align: center;
	padding: 1em 0;
	margin-top: 1em;
	clear: both;
}
a {
	text-decoration: none;
	color: #f37e8c;
	margin-bottom: 10px;
}
img {
	display: block;
	margin: 0 auto;
	clear: both;
}
#logo {
	float: left;
	width: 10px;
}
#jars {
	display: block;
	margin: 0 auto;
}
#about {
	font-size: 18px;
	display: inline-block;
	text-align: center;
}
#brainfood {
	font-size: 18px;
	display: inline-block;
	text-align: center;
}
#funstyle {
	font-size: 18px;
	display: inline-block;
	text-align: center;
}
#recipes {
	font-size: 18px;
	display: inline-block;
	text-align: center;
}